#Ignore everything
*
*/

#Unignore specific sub directories
!/Vec2
!/Tests
!/Tests/Doctest
!/External

#Unignore specific files
!README.md
!.gitignore
!CMakeLists.txt

#Unignore specific file types
!*.cpp
!*.h